body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
}

.container{
    width: 400px;
    border: 4px black solid;
    height: 100%;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.display{
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    height: 50px;
    background-color: #7c7b6c;
    font-size: 40px;
    color: white;
}

.par1{
    display: flex;
}
.par1 button{
    flex: 1;
    
}
#plus,#add,#subs{
    flex: 1.58;
}

.number{
    background-color: #3e3e53  ;
    border: 0.5px solid #bab986;
    color: aliceblue;
    font-size: 40px;
}

.function{
    background-color: #000039;
    border: 0.5px #bab986 solid;
    color: aliceblue;
    font-size: 40px;
}





